$cons:50px;
/*Clases placeholder*/
%grid{
    display: grid;
    grid-template-rows: auto auto;
}
/*Construccion   @extend*/
.mainServicio {
    @extend %grid;
    grid-template-areas: "videoPortada " "servicios";
    grid-template-columns: 1fr;
    padding: $cons;
    margin-top: $cons;
    margin-bottom: $cons*2;
    grid-gap: $cons*2;
    .videoPortada{grid-area:videoPortada;}
    .servicios{grid-area:servicios;}
    .servics {
        @extend %grid;
        grid-template-columns: 1fr 1fr;
        grid-area: "servicsTextI servicsImg" "servicsImg servicsText1";
        .servicsTextI {
            margin-right: $cons*2;
            margin-top: $cons*4;
        }
        .servicsText1 {
            margin-left: $cons*2;
            margin-top: $cons*4;
        }
        .servicsImg {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: $cons*5;
            grid-gap: 10px;
            .galeriaItem {
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                        object-fit: cover;
                }
                h5 {
                    position: absolute;
                    bottom: 0;
                    color: white;
                    background: rgba(24, 24, 24, 0.2117647059);
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                }
                &:nth-child(3) {
                    grid-row-start: span 2;
                }
                &:nth-child(4) {
                    grid-column-start: span 2;
                }
                &:nth-child(5) {
                    grid-row-start: span 2;
                }
                &:nth-child(8) {
                    grid-column-start: span 2;
                }
            }
        }
    }
}

