$cons:50px;
/*Clases placeholder*/
%imagen{
    width: 100%;
    -o-object-fit: cover;
        object-fit: cover;
}
/*Construccion*/
.mainCurriculum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "datosText datosPhoto" "datosText datosPhoto" "tecnologias tecnologias" "expericiaProyec expericiaProyec1";
    padding: $cons;
    grid-gap: $cons*2;
    color: #E2E2E2;
    margin-bottom: $cons*2;
    margin-top: $cons;
    .datosText {grid-area: datosText;}
    .datosPhoto {
        grid-area: datosPhoto;
        align-items: flex-start;
        img {
            justify-content: center;
            padding-left: 30%;
            height: auto;
            @extend %imagen;
        }
    }
    .tecnologias {
        grid-area: tecnologias;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "titleC" "bannerGaleria";
        .titleC {grid-area: titleC ;}
        .bannerGaleria {
            grid-area: bannerGaleria ;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-gap: 20px;
            grid-auto-rows: 150px;
            margin-top: 20px ;
            img {
                height: auto;
                @extend %imagen;
            }
        }
    }
    .expericiaProyec { grid-area: expericiaProyec; }
    .expericiaProyec1 { grid-area: expericiaProyec1; }
}