$cons:50px;
/*Construccion*/
footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "parnert" "navFooter" "copyRights";
    grid-template-rows: auto auto auto;
}

.parnert {
    grid-area: parnert;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "textParnert logos";
    grid-template-rows: auto;
    align-items: center;
    -moz-column-gap: $cons*2;
        column-gap: $cons*2;
    padding: 40px $cons 40px $cons;
    border-top: grey solid 1px;
    justify-content: space-between;
        .logos {
            display: flex;
            .logo{
                width: ($cons*3)+30;
            }
        }
}

.navFooter {
    grid-area: navFooter;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "columnMenus columnMenus columnLogo";
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 80px 50px 80px 50px;
    border-top: grey solid 1px;
    .columnLogo {
        max-width: $cons*4;
    }
    .navFooter li {
        padding: 0;
        font-size: 14px;
    }
}

.copyRights {
    grid-area: copyRights;
    background-color: rgba(0, 0, 0, 0.3019607843);
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "footerRedes footerCopy";
    grid-template-rows: auto;
    justify-content: space-between;
    padding: $cons-20;
}