$cons:50px;
/*Construccion*/
.main {
    display: grid;
    grid-template-areas: "videoPortada " "servicios";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.videoPortada {
    grid-area: videoPortada;
    background-image: url("../assets/img/fondo_web.png");
    padding: $cons*4 $cons*2 $cons*4;
}

.servicios {
    grid-area: servicios;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "columnServ columnServ columnServTitle";
    grid-template-rows: auto;
    align-items: center;
    -moz-column-gap: $cons*2;
        column-gap: $cons*2;
    padding: $cons;
    margin: $cons 0 $cons 0;
    .columnServ {
        background: rgba(0, 0, 0, 0.3019607843);
        h3 {
            padding: 20px 30px;
        }
        p {
            padding: 30px;
        }
        li {
            padding: 0px 30px 30px;
            text-align: end;
        }
    }
    .columnServTitle{
        .columnText{
            h2{
                text-align: end;
                margin-bottom: 20px;
            }
        }
    }
}