$cons:50px;
/*Clases placeholder   @extend*/
%folio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
%imag{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
        object-fit: cover;
}
/*Construccion*/
.mainPortafolio {
    @extend %folio;
    grid-template-areas: "videoPortada videoPortada" "textColunm textColunm1" "cliente cliente" "cliente1 cliente1";
    margin-bottom: $cons*2;
    grid-gap: $cons;
    .videoPortada { grid-area: videoPortada; }
    .textColunm { grid-area: textColunm; margin-left: $cons;}
    .textColunm1 { grid-area: textColunm1; margin-right: $cons;}
    .cliente {
        grid-area: cliente;
        @extend %folio;
        grid-template-areas: "clienteText clienteImg" "clienteImg1 clienteText1";
        grid-gap: $cons;
        padding: $cons;
        .clienteText {
            grid-area: clienteText;
            margin-top: $cons*3;
        }
        .clienteImg {
            grid-area: clienteImg;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            img {
                @extend %imag;
            }
        }
        .clienteItem:nth-child(2) {
            grid-row-start: span 2;
        }
        .clienteImg1 {
            grid-area: clienteImg1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
        .clienteText1 {
            grid-area: clienteText1;
            text-align: end;
            margin-top: $cons*3;
            img {
                @extend %imag;
            }
        }
        .clienteItem1 .clienteItem1{
            @extend %imag;
        }
        .clienteItem1:nth-child(1) {
            grid-row-start: span 2;
        }
    }
    .cliente1 {
        grid-area: cliente1;
    }
}